h1 {
  /* 0 255 RGB*/
  /* color: #ff0000;
  color: #f00;
  color: #00ff00;
  color: #0000ff;
  color: #ffffff;  */
  /* #fff */
  /* color: #000000; */
  /* opacity 0 => 1 */
  /* opacity: 0.50;
  background-color: #ff0000; */
  /* #000 */
  /* background-color: #3078bf; */
}

h1 {
  /* RGB RGBa  0 255*/
  /* color: #ff0000;
  color: rgb(255, 0, 0); */

  /* color: #0000ff; */
  /* color: rgb(0, 0, 255); */
  /* color: rgb(100, 50, 40); */
  /* rgba */
  /* color: rgba(255, 0, 0, 0.5);
  background-color: rgba(67, 109, 76, 0.6); */
}

h1 {
  /* hsl */
  color: hsl(30, 100%, 0%);
}
